@import '@repo/tailwind-config';

@layer base {
    button {
        cursor: pointer;

        &:disabled {
            cursor: not-allowed;
        }
    }

    input,
    textarea {
        outline: none;
    }

    input[type='checkbox'] {
        cursor: pointer;
    }
}
