@import '@repo/tailwind-config';

@layer base {
    button {
        cursor: pointer;

        &:disabled {
            cursor: not-allowed;
        }
    }

    input {
        outline: none;
    }
}
